<!DOCTYPE html>
<html>
<head>
  <title>The Awesome Weather App</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
        <%= link_to "Awesome Weather App", root_path, id: "logo" %>
    </div>
</header>
<% flash.each do |message_type, message| %>
    <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
<% end %>
<%= yield %>

</body>
</html>
